//  CSS 的全局污染

html{
	font-family: 'Monospace';
	background-color: #fafafa;
	font-size: 16px;
}
html, body{
	padding: 0;
	margin: 0;
}

*{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{

	margin:0;
	// 可以使页面上的字体抗锯齿，淘宝也在使用。
    -webkit-font-smoothing: antialiased; 	
}

.app-wrap{
	display: flex;
	flex-direction: column; 
	height: 100vh;
	min-height: 100vh;
}
.app-header{
    
    // 也就是说header高度不会变了
	flex-shrink: 0;
	height:64px;
	z-index:4;
	background-color: #FAFAFA;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
	display: flex;
    align-items: center;
	flex-direction: row;
	justify-content:space-between;
}
.app-item{
	height:64px;
	flex-shrink:0;
}
.search-content{
	background: rgb(255, 255, 255);
}
.app-logo img{
	 
    height: 40px;
    margin-top: 6px; 
}
.app-search{
	display: inline-flex;
	width: 10%;
	height: 50px;
	//是相对于header居中的
	align-items: center;
	border: 1px solid #E0E0E0;
	border-radius: 9px;
	margin-right: 10%;
	cursor: pointer;
    transition: all .4s ease-out;
}
.app-search svg{
	margin-right: 0;
	
}
.search-text{
	background:#FAFAFA;
    border:none;
    outline:medium;
	width: 75%;
	height: 75%;
	font-size:1rem;
}
.app-logo{
	width: 20%;
	flex-grow: 0;
	// text-align 内容， 是<img>的话也是可以居中的；
	text-align: center;	
}
.app-login{
	width: 50%;
	flex-flow: 1;
	background-color: #E0E0E0;
}
.app-footer{
    
	background-color: #FAFAFA;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align:center;
	font-size: 0.8rem;
	color:black;
	flex-shrink:0;
	border-top: 1px solid  #E0E0E0;
}

.home{
 flex-grow: 1;
 background-image:url('../assets/home-bg.jpg');
 background-size: cover;
 background-position: center center;
 background-repeat: no-repeat;
 // 决定背景在视口中固定的还是随把汗它的区块滚动的。
 background-attachment: fixed;
 z-index: -1;
 display: flex;
 flex-direction: column;
 justify-content: center;
 .slogan{
 	display: flex;
 	justify-content: center;
 	text-align: center;
 	color: #fff;
 	// // 用来转换文本的大小写
 	// text-transform: uppercase;
 	font-size: 15px;
 	font-weight: 500;
 	width: 100%;
 	padding-bottom:15px;
 	padding-top: 15px;
 	background-color: rgba(0,0,0,0.5);
 	align-items: center;
 	flex-direction: column;
 }
  .ting{
  	background-image: url('../assets/ting.png');
  	width: 100px;
  	height: 100px;
  	padding-top: 10px;
  	background-size: cover;
  }
}

.account, .about{
    flex-grow: 1;
    overflow:auto;
}

.likes-heart {
  background: url(http://o86bpj665.bkt.clouddn.com/redux-tower/heart.png) center no-repeat;
  //设置背景图片的大小， contain 是等比例缩小图片来适应元素的
  // 尺寸
  background-size: contain;
  font-size: 2rem;
  padding: 1rem;
  position: absolute;
  color: #ff4081;
  left: 50%;
  top: 50%;
}

.likes-heart.like-enter {
  transition: all .2s;
  transform: translateX(-50%) translateY(-50%) scale(1);
  opacity: 1;
}
.likes-heart.like-enter.like-enter-active {
  transform: translateX(-50%) translateY(-50%) scale(5);
}

.likes-heart{
	  opacity: 0;
}

.toUp{
      transform: rotate(180deg);
	  
 }
 .hide{
	 visibility:hidden; 
 }

@import 'account';