*{
    margin: 0;
    padding: 0;
}
.list li{
    float: left;
    list-style-type: none;
    /* 把li 元素设置为  relative ， 为 隐藏ul 元素的定位提供了定位上下文 */
    position: relative;
}

.list ul{
    float: left;
}

.list a{
    display: block;
    text-decoration: none;
}

.app-topnav{
	width: 50%;
}

.app-topnav li:hover{
	background-color: #BDBDBD;
}

.app-topnav li{
	transition: 1s;
} 

/*
临时隐藏低级菜单  
*/
.list li ul{
    display: none;
    position: absolute;
    left:0;
    /* 这样可以设置顶部与菜单栏的底部相对齐 */
    top:100%; 
    width: 9em;
    background-color: black;
}


.list li li{
    /* 二级菜单恢复上下堆叠 */
    /* 元素浮动后， 该元素的display值是： block */
    float: none;
}

.list li li a{
    height: 2em;
    line-height: 2rem;
    color: white;
}

/*父元素悬停的时候显示*/
.list li:hover > ul{
    display: block;
}

